{% include 'stock/headers.html' %}
{% load static %}

<div class="nk-app-root">
    <div class="nk-main">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content">
                <div class="nk-split nk-split-page nk-split-md">
                    <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container w-lg-45" style="background-color: #243447; color: #c4cefe;">
                        <div class="nk-block nk-block-middle nk-auth-body">
                            <div class="brand-logo pb-5">
                                <a href="/" class="logo-link">
                                    <img class="logo-light logo-img logo-img-lg" src="{% static 'images/logo.png' %}" alt="logo">
                                    <img class="logo-dark logo-img logo-img-lg" src="{% static 'images/logo-dark.png' %}" alt="logo-dark">
                                </a>
                            </div>
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title">Password Reset Complete</h5>
                                    <div class="nk-block-des">
                                        <p>Your password has been set successfully. You can now log in with your new password.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="/accounts/login/" class="btn btn-lg btn-primary btn-block">Log In</a>
                            </div>
                        </div>
                    </div>
                    <div class="nk-split-content nk-split-stretch bg-abstract"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'stock/footers.html' %}