{% include 'stock/headers.html' %}
{% load static %}

<div class="nk-app-root">
    <div class="nk-main">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content">
                <div class="nk-split nk-split-page nk-split-md">
                    <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container w-lg-45" style="background-color: #243447; color: #c4cefe;">
                        <div class="nk-block nk-block-middle nk-auth-body">
                            <div class="brand-logo pb-5">
                                <a href="/" class="logo-link">
                                    <img class="logo-light logo-img logo-img-lg" src="{% static 'images/logo.png' %}" alt="logo">
                                    <img class="logo-dark logo-img logo-img-lg" src="{% static 'images/logo-dark.png' %}" alt="logo-dark">
                                </a>
                            </div>
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    {% if validlink %}
                                        <h5 class="nk-block-title">Enter New Password</h5>
                                        <div class="nk-block-des">
                                            <p>Please enter your new password twice so we can verify you typed it correctly.</p>
                                        </div>
                                    {% else %}
                                        <h5 class="nk-block-title">Password Reset Failed</h5>
                                        <div class="nk-block-des">
                                            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if validlink %}
                            <form method="post" class="form-validate is-alter">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="id_new_password1">New Password</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        <input type="password" name="new_password1" class="form-control form-control-lg" id="id_new_password1" placeholder="Enter new password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="id_new_password2">Confirm New Password</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        <input type="password" name="new_password2" class="form-control form-control-lg" id="id_new_password2" placeholder="Confirm new password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>
                                </div>
                            </form>
                            {% else %}
                            <div class="form-group">
                                <a href="{% url 'custom_password_reset' %}" class="btn btn-lg btn-primary btn-block">Request New Reset Link</a>
                            </div>
                            {% endif %}
                            <div class="form-note-s2 pt-4">
                                <a href="/accounts/login/"><em class="icon ni ni-arrow-left"></em><span>Back to Login</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="nk-split-content nk-split-stretch bg-abstract"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'stock/footers.html' %}