{% load static %}
{% load crispy_forms_tags %}
{% include 'stock/headers.html' %}

<div class="nk-content">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">{{ title }}</h4>
                                <div class="nk-block-des">
                                    <p>{% if delivery_person %}Update{% else %}Add{% endif %} delivery person information below.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-inner">
                                <form method="post">
                                    {% csrf_token %}
                                    {% crispy form %}
                                    <div class="form-group mt-3">
                                        <button type="submit" class="btn btn-primary">
                                            {% if delivery_person %}Update{% else %}Add{% endif %} Delivery Person
                                        </button>
                                        <a href="{% url 'manage_delivery_persons' %}" class="btn btn-outline-light">
                                            <em class="icon ni ni-arrow-left"></em> Back to List
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'stock/footers.html' %}

<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
{% for message in messages %}
    <script>
        Swal.fire({
            position: 'center',
            icon: '{% if "success" in message.tags %}success{% elif "error" in message.tags %}error{% else %}info{% endif %}',
            title: '{{ message }}',
            showConfirmButton: true,
            timer: 15000
        });
    </script>
{% endfor %}