{% include 'stock/headers.html' %}
{% load crispy_forms_tags %}
{% load static %}

<div class="nk-app-root">
    <div class="nk-main">
        <div class="nk-wrap nk-wrap-nosidebar">
            <div class="nk-content">
                <div class="nk-split nk-split-page nk-split-md">
                    <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container w-lg-45" style="background-color: #243447; color: #c4cefe;">
                        <div class="nk-block nk-block-middle nk-auth-body">
                            <div class="brand-logo pb-5">
                                <a href="/" class="logo-link">
                                    <img class="logo-light logo-img logo-img-lg" src="{% static 'images/logo.png' %}" alt="logo">
                                    <img class="logo-dark logo-img logo-img-lg" src="{% static 'images/logo-dark.png' %}" alt="logo-dark">
                                </a>
                            </div>
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title">Reset Password</h5>
                                    <div class="nk-block-des">
                                        <p>Enter your email address and we'll send you a link to reset your password.</p>
                                    </div>
                                </div>
                            </div>
                            <form method="post" class="form-validate is-alter">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label" for="id_email">Email</label>
                                    </div>
                                    <div class="form-control-wrap">
                                        <input type="email" name="email" class="form-control form-control-lg" id="id_email" placeholder="Enter your email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Send Reset Link</button>
                                </div>
                            </form>
                            <div class="form-note-s2 pt-4">
                                <a href="/accounts/login/"><em class="icon ni ni-arrow-left"></em><span>Back to Login</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="nk-split-content nk-split-stretch bg-abstract"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'stock/footers.html' %}